*{margin: 0;padding: 0}
p {
    margin: 0.5em 0;
}
.selects .xiangjie-wapper {
    box-sizing: border-box;
    padding: .96666667rem .7rem;
}
.xiangjie-wapper h3 {
    font-size: 1.03333333rem;
    color: #18b4ed;
    font-weight: bold;

}
.xiangjie-wapper .explain-p {
    font-size: 1.03333333rem;
    line-height: 1.733;
    color: #8e734d;
}
.selects{
padding:0.4rem;
}
.select{
    height: 2.5rem;
    line-height:2.5rem;
    display: block;
    text-align: left;
    font-weight: normal;
    font-family: "Source Han Sans CN","noto sans","Microsoft YaHei",'微软雅黑';

}

.select span{
    font-size:1.2rem;
    margin-left: 0.5rem;
    // position: relative;
    // top: 5px;
    // left:5px;
}
.iconfont{
    font-size:1.6rem;
    position:relative;
    bottom:0.2rem;
}
