*{margin: 0;padding: 0}
p {
margin:0;
}
/*当选项是文字的时候*/
.words{
padding:0.4rem;
}
.words .select{
    height: 2.5rem;
    line-height:2.5rem;
    display: block;
    text-align: left;
    font-weight: normal;
    font-family: "Source Han Sans CN","noto sans","Microsoft YaHei",'微软雅黑';
}

.words .select span{
    font-size:1.2rem;
    margin-left: 0.5rem;
}
.words .iconfont{
    font-size:1.6rem;
    position:relative;
    bottom:0.2rem;
}
/*当选项为图片的时候*/
.imgs{
  padding:0.4rem;
}
.imgs .select img{
  width:8rem;
  height:5rem;
}
.imgs .select .iconfont{
    font-size:1.6rem;
    position:relative;
    bottom:4.2rem;
}
/*音频图标效果*/
.yinpinicon{
float:right;
    height:100%;
    width:2rem;
}
.yinpinicon .iconfont{

   font-size:1.4rem;
}
/*.news h3{
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size:1rem;
  line-height: 1.5;
  color: #3d4145;
}*/
/*信息转换*/
.show_trans{
  text-align:center;
}
.show_trans img{
  width:95%;
  height:9rem;
}
.trans_input input{
  width:70%;
  background-color: rgba(255, 255, 255, 0.03);
  margin-bottom:1rem;
  border:0px;
  border-bottom:#000000 1px solid;
}
/*.blank{
  background-color:#fff;
}*/
/*当选项为对或者错的时候*/
.selects .dui{
    color:#18b4ed;
}
.selects .cuo{
  color:red;
}
.selects .option{
   color:#18b4ed;
}
/**/
/*.choice_blank{
  display:inline-block;
  width:1.5rem;
  height:1.5rem;
  border:1px solid #ccc;
 text-align:center;
}*/
/*详解情况的样式*/
.xiangjie-wapper h3 {
    color: #18b4ed;
    font-weight: bold;
}
.xiangjie-wapper {
    box-sizing: border-box;
    padding: .96666667rem 0;
}

.xiangjie-wapper .explain-p {
    font-size: 0.8rem;
    line-height: 2;
    color: #8e734d;
}
/*pop框的样式*/
ul, li {
    list-style: none;
}
.box-wrap  ul li.current{
    box-shadow:0px 0px 0px 1px black;
}
.box-wrap ul li{
    margin: 0.4rem;
    border-radius: 5px;
    line-height: 2rem;
    text-align: center;
    font-size: .9rem;
    color: #fff;
    background: #d2d2d2;
    width: 2rem;
    display: inline;
    float: left;
}
/*针对对错框的样式*/
.popcuo{
  background: #f25e5e !important;
}
.popdui{
   background:#18b4ed !important;
}

/*已答题数目的样式*/
.test_num strong{
  color:#18b4ed;
}
/*答题之后添加的效果*/
.close-popup .poplook{
  background:#18b4ed !important;
}
/*成绩页面*/
.find_emply{
    margin:50% auto 0;
    width:80%;
    height:5rem;
    text-align:center;
}
.find_emply .page_content{
    border-radius: 1rem;
    background: rgba(189, 189, 220, 0.07);
    border: 0.1rem solid rgb(231, 231, 231);
    border-image: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.find_emply  .img_content{
    width: 46%;
    height: 20%;
    position: absolute;
}
.tou{
    background: url("../img/grade/tou.png") no-repeat;
    width: 4.85rem;
    height: 4.6rem;
    position: absolute;
    top: -4.35rem;
    left:52%;
}

.initial_left_hand{
    background: url("../img/grade/hand.png") no-repeat;
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    top: -0.6rem;
    left: 20%;
}
.initial_right_hand{
    background: url("../img/grade/hand.png") no-repeat;
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    top: -0.6rem;
    right: -44%;
}
.tips p{
    line-height:1rem;
    font-size:0.85rem;
    color:rgb(238, 0, 0);
    margin:1rem 0 ;
}
.tips a{
    display:inline-block;
    text-decoration:none;
    border-radius: 1rem;
    width:5rem;
    height:2rem;
    line-height:2rem;
    font-size:1rem;
    background-color:#fff;
}
